// app global css in Stylus form

  .fe {
    background-color: $orange
  }
  .amor {
    background-color: $red-8
  }
  .esperanca {
    background-color: $green-6

  }
  .imgIndex {
    max-width 300px
  }

  @font-face {
    font-family: caveat;
    src: url(../assets/font/caveat-regular.ttf);
  }

    // declare a class which applies it
.my-font {
    font-family: 'caveat';
  }